.smallgroups {
  text-align: center;
  background-color: var(--main-green);
}

.smallgroups-banner,
.yumul-banner,
.mississauga-banner,
.women-chasing-god-banner,
.allan-banner {
  background-image: url('../../assets/pictures/smallgroups_bg.avif');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.smallgroups-banner-title,
.yumul-banner-title,
.mississauga-banner-title,
.women-chasing-god-banner-title,
.allan-banner-title {
  text-align: center;
  font-size: 4rem;
  color: var(--main-blue);
}

.yumul-intro-picture,
.mississauga-intro-picture,
.women-chasing-god-intro-picture,
.allan-intro-picture {
  flex: 1;
  background-image: url('../../assets/pictures/about_bg.avif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  margin: 0 2rem;
}

.yumul-intro-description,
.mississauga-intro-description,
.women-chasing-god-intro-description,
.allan-intro-description {
  flex: 1;
}

.yumul-intro,
.mississauga-intro,
.women-chasing-god-intro,
.allan-intro {
  display: flex;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 0;
}

/* 55+ small group */
.yumul-intro-picture {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* mississauga */
.mississauga-intro-picture {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* women-chasing-god */
.women-chasing-god-intro-picture {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* allan */
.allan-intro-picture {
  background-image: url('../../assets/pictures/about_bg.avif');
}
