.smallgroups {
	text-align: center;
	background-color: var(--main-green);
}

.smallgroups-banner {
	background-image: url('../../assets/pictures/smallgroups_bg.jpg');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.smallgroups-banner-title {
	font-size: 4rem;
	color: var(--main-blue);
}