.about {
	text-align: center;
	background-color: var(--main-green);
}

.about-banner {
	background-image: url('../../assets/pictures/about_bg.jpg');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.about-banner-title {
	font-size: 4rem;
	color: var(--main-white);
}