.about {
  text-align: center;
  background-color: var(--main-green);
}

.about-banner {
  background-image: url('../../assets/pictures/about_bg.avif');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.about-banner-title {
  font-size: 4rem;
  color: var(--main-white);
}

/* beliefs */
.beliefs-banner {
  background-image: url('../../assets/pictures/beliefs_bg.avif');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
  text-align: center;
}

.beliefs-banner-title {
  font-size: 4rem;
  color: var(--main-white);
}

.beliefs-intro {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: var(--main-green);
}

.beliefs-intro > p {
  text-align: center;
  margin: 0;
}

.beliefs-content {
  text-align: center;
  padding: 5rem 0;
}

.beliefs-content-core-values,
.beliefs-content-statement-of-faith {
  margin: 2rem 0;
}

.beliefs-content-statement-of-faith-cma {
  text-decoration: underline;
  color: var(--main-blue);
  transition: 0.1s ease-in;
}

.beliefs-content-statement-of-faith-cma:hover {
  color: var(--main-green);
  font-size: 1rem;
}

/* mission & vision */
.mission-vision-banner {
  text-align: center;
  background-image: url('../../assets/pictures/about_bg.avif');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.mission-vision-title {
  font-size: 4rem;
  color: var(--main-white);
}

.mission {
  background-color: var(--main-green);
  text-align: center;
  padding: 3rem 0;
}

.mission-text-header {
  max-width: 800px;
  margin: 0 auto;
  font-size: 2rem;
}

.mission-text-description {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;

}

.vision {
  background-color: var(--main-blue);
  text-align: center;
  padding: 3rem 0;
}

/* leadership */
.leadership-banner {
  text-align: center;
  background-image: url('../../assets/pictures/leadership_bg.avif');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.leadership-title {
  font-size: 4rem;
  color: var(--main-white);
}

.leadership-intro {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.leadership-intro-text {
  text-align: center;
  font-size: 1.3rem;
  max-width: 800px;
}
