ENV="dev"
VITE_SANITY_ID=""
PUBLIC_SUPABASE_URL=""
PUBLIC_SUPABASE_ANON_KEY=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@fcccanada.ca"
GOOGLE_MAPS_API_KEY=""
GOOGLE_RECAPTCHA_SECRET_KEY=""
PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY=""
