# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
/playwright-report
/test-results/
/playwright/.cache/

# svelte / web build
.svelte-kit
/build
/package

# cms
apps/cms/dist
apps/cms/.sanity

# misc
.DS_Store
*.pem
.unlighthouse

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars*

# cloudflare
.wrangler

vite.config.js.timestamp-*
