.elders-container {
	display: flex;
	justify-content: space-between;
	padding: 5rem;
}

.elder {
	display: flex;
	flex-direction: column;
}

.elder-picture[data-name="lolita"] {
	background-image: url('../../assets/pictures/elders/lolita.jpg');
}

.elder-picture[data-name="roland"] {
	background-image: url('../../assets/pictures/elders/roland.jpg');
}

.elder-picture[data-name="errol"] {
	background-image: url('../../assets/pictures/elders/errol.jpg');
}

.elder-picture[data-name="chrys"] {
	background-image: url('../../assets/pictures/elders/chrys.jpg');
}

.elder-picture {
	height: 300px;
	width: 300px;
	background-position: 50% 50%;
}