.header-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    bottom: auto;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary-black);
    color: var(--primary-white);
}
