.ministries {
  text-align: center;
}

.ministries-banner,
.men-banner,
.women-banner,
.preteen-banner,
.youth-banner,
.ya-banner,
.praise-banner {
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

/* ministries landing page */
.ministries-banner {
  background-image: url('../../assets/pictures/ministry_bg.avif');
}

.ministries-banner-title,
.men-banner-title,
.women-banner-title,
.preteen-banner-title,
.youth-banner-title,
.ya-banner-title,
.praise-banner-title {
  text-align: center;
  font-size: 4rem;
  color: var(--main-white);
}

/* men's ministry */
.men-banner {
  background-image: url('../../assets/pictures/men_bg.avif');
}

.men-intro,
.women-intro,
.preteen-intro,
.youth-intro,
.ya-intro,
.praise-intro {
  display: flex;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 0;
}

.men-intro-picture,
.women-intro-picture,
.preteen-intro-picture,
.youth-intro-picture,
.ya-intro-picture,
.praise-intro-picture {
  flex: 1;
  background-image: url('../../assets/pictures/about_bg.avif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  margin: 0 2rem;
}

.men-intro-description,
.women-intro-description,
.preteen-intro-description,
.youth-intro-description,
.ya-intro-description,
.praise-intro-description {
  flex: 1;
}

/* women's ministry */
.women-banner {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* preteen ministry */
.preteen-banner {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* youth ministry */
.youth-banner {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* young adults ministry */
.ya-banner {
  background-image: url('../../assets/pictures/about_bg.avif');
}

/* praise and worship ministry */
.praise-banner {
  background-image: url('../../assets/pictures/about_bg.avif');
}
