.ministries {
	text-align: center;
}

.ministries-banner {
	background-image: url('../../assets/pictures/ministry_bg.jpg');
  background-size: cover;
  background-position: 50%;
  padding: 7rem 0 7rem 0;
}

.ministries-banner-title {
	font-size: 4rem;
	color: var(--main-white);
}