.about-core-values-container {
  position: relative;
  padding-top: 6%;
  padding-bottom: 8%;
  background-color: #f7f4f0;
  color: #1d1d1c;
  text-align: center;
}

.about-core-values-narrow {
  width: 80%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.core-value-container {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  text-align: left;
}
.about-core-values-title {
  margin-bottom: 48px;
  display: flex;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-family: Merriweather, serif;
}

.CMA-text-link {
  box-shadow: 0 1px 0 0 #d89853;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: color, box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1),
    cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s, 0s;
  color: black;
}

.CMA-text-link:hover {
  box-shadow: 0 4px 0 0 #d89853;
  color: #d89853;
}
