@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

body {
    background-color: rgb(29, 29, 28);
    box-sizing: border-box;
    color: rgb(247, 244, 240);
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 100%;
    text-size-adjust: 100%;
}

h1 {
    color: white;
}

.site-layout-content {
    background: var(--primary-black);
    min-height: 100%;
}

.module-header {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: rgb(255, 255, 255);
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.breadcrumb-container {
    margin: 16px 0;
}

/* .content-container {
  padding: 0 50px;
} */
