@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,900&display=swap');

body {
    background-color: #1d1d1c;
    color: rgb(255, 255, 255);
}

.site-layout-content {
    background: #1d1d1c;
    min-height: 100%;
}
#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.module-header {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: rgb(255, 255, 255);
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.breadcrumb-container {
    margin: 16px 0;
}

.content-container {
    padding: 0 50px;
}
