.core-value-header {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.core-value-description {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
