.home-welcome {
    display: block;
    font-family: 'Merriweather', serif;
    text-align: left;
    color: rgb(247, 244, 240);
    position: relative;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 120px;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.home-welcome-content {
    display: block;
    padding-right: 36px;
    padding-left: 36px;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.church-name {
    margin-bottom: 40px;
    padding-right: 24px;
    padding-left: -60px;
    width: 50%;
    flex: 1;
    position: relative;
    float: left;
    min-height: 1px;
    color: var(--secondary-brown);
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.home-welcome-statement {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-right: 24px;
    padding-left: 24px;
    flex: 1;
    width: 50%;
    position: relative;
    min-height: 1px;
}

.home-welcome-title-container {
    display: block;
    box-sizing: border-box;
    margin-bottom: 32px;
    font-family: Montserrat, sans-serif;
    color: var(--primary-white);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
}

.title-small {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--primary-white);
}

.title-big {
    margin-bottom: 0;
    font-size: 75px;
    line-height: 1.05;
    font-weight: 700;
    font-family: Merriweather, serif;
    color: var(--primary-white);
}

.home-welcome-buttons {
    padding: 1px;
}

.home-welcome-invitation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.empty-box {
    align-self: stretch;
    flex: 0 50%;
    padding-right: 24px;
    padding-left: 24px;
    width: 50%;
    position: relative;
    float: left;
}

.home-welcome-invitation-text {
    align-self: stretch;
    flex: 0 50%;
    margin-top: 150px;
    margin-bottom: 60px;
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
    min-height: 1px;
    line-height: 1.4;
    color: var(--primary-white);
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.zoom-link {
    box-shadow: 0 1px 0 0 var(--secondary-brown);
    transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
        box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: color, box-shadow;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1),
        cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s, 0s;
}

.zoom-link:hover {
    box-shadow: 0 4px 0 0 var(--secondary-brown);
    color: var(--secondary-brown);
}
