.home-header {
  background-color: var(--main-green);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-white);
}

.home {
  text-align: center;
}

.intro {
}

.mission {
  padding: 7rem 15rem;
  background-color: var(--main-green);
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 500;
}

.sermons {

}