.home-header {
  background-color: var(--main-green);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-white);
}

.home {
  text-align: center;
}

.home-intro {
  background-image: url('../../assets/pictures/home-bg.avif');
  background-size: cover;
  background-position: 50%;
  padding: 18rem 0 26rem 0;
}

.home-intro-button-container {
  display: flex;
  justify-content: center;
}

.home-intro-button-container > a {
  margin: 16px;
}

.home-intro-header {
  color: var(--main-white);
  font-size: 3rem;
}

/* home-join */
.home-join {
  display: flex;
  justify-content: center;
  padding: 12rem 0;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.home-join-picture {
  background-image: url('../../assets/pictures/men_bg.avif');
  background-position: 50% 50%;
  height: 300px;
  width: 300px;
  flex: 1;
}

.home-join-content {
  flex: 1;
}

.home-join-content-header {
  font-size: 3rem;
  text-align: left;
}

.home-join-content-description {
  font-size: 1.5rem;
  text-align: left;
}

/* home-mission */
.home-mission {
  padding: 10rem 0;
  background-color: var(--main-green);
}

.home-mission-header {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 2rem;
}

/* home sermons */
.home-sermons {
  padding: 120px 80px;
}

.home-sermons-header {
  font-size: 3rem;
}

.home-sermons-hr {
  width: 60px;
  height: 2px;
  border: 0;
  background: var(--main-blue);
  display: block;
  margin: 25px auto;
}

.home-sermons-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 40px;
}

.home-sermons-non-active-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-sermons-non-active-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--main-blue);
  padding: 0.9rem;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 100%;
  text-decoration: none;
  text-align: left;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.home-sermons-non-active-item:hover {
  opacity: 0.5;
}

.home-sermons-non-active-header {
  text-decoration: none;
  color: var(--main-white);
}

.home-sermons-button {
  margin: 1rem 0;
}