.footer-container {
    background-color: #292827;
    color: white;
    display: grid;
    grid-template-areas: 'footer-logo footer-location footer-about footer-connect footer-remaining social-buttons';
    padding: 20px;
    grid-column: repeat(6, 1fr);
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    display: grid;
}

.footer-location {
    display: grid;
    color: #f7f4f0;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    row-gap: 1rem;
}

.footer-connect {
    display: grid;
    grid-row: repeat(10, 1fr);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #b1aeab;
    line-height: 1.2;
}

.footer-remaining {
    display: grid;
}

.social-buttons {
    display: grid;
    text-align: center;
}
