@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,900&display=swap');

.connect-content {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: white;
}

.connect-subtitle-container {
  padding-left: 36px;
  padding-right: 36px;
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
