.navbar {
	position: sticky;
	top: 0;
	background: var(--main-blue);
	margin: 0;
}

.container {
	margin: 0;
	padding: 15px 30px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
}

.navbar-left {
	display: flex;
	justify-content: flex-start;
}

.navbar-right {
	display: flex;
	flex-direction: row;
}

.navbar-link {
	text-decoration: none;
	color: var(--main-white);
}

.navbar-link:hover {
	color: var(--main-green);
}

.navbar-option {
	margin: 20px;
}