.featured-sermon-page-container {
    z-index: 1;
    padding-top: 75px;
    padding-bottom: 0;
    position: relative;
}

.featured-sermon-title-container {
    position: relative;
    z-index: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 80%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.featured-sermon-title-description-container {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 24px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-align: end;
    align-items: flex-end;
    border-bottom: 1px solid var(--primary-white);
    transform-origin: 0 50%;
}

.featured-sermon-title-description-item {
    opacity: 1;
    line-height: 1.2;
}

.featured-sermon-title {
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-top: 0;
    font-family: Merriweather, serif;
    font-size: 2.7rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 0.67em 0;
}

.featured-sermon-video-container {
    padding-right: 36px;
    padding-left: 36px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
