.footer {
	color: var(--main-white);
	background-color: var(--main-black);
	padding: 4rem 5rem 10rem 5rem;
}

.container {
	display: flex;
}

.footer-logo {
	display: block;
	max-width: 75%;
	height: auto;
}

.footer-column {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.socials {
	flex: 0.2;
}

.footer-link {
	color: var(--secondary-grey);
	text-decoration: none;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.social-link {
	color: var(--secondary-grey);
	font-size: 1.8rem;
	margin-bottom: 1rem;
	transition: 0.3s;
}

.social-link:hover {
	opacity: 0.5;
}

.text-link {
	transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text-link:hover {
	box-shadow: 0 4px 0 0 var(--secondary-grey);
	color: var(--secondary-grey);
}

.footer-header {
	font-size: 1.2rem;
	text-decoration: underline;
	transition: 0.3s;
}

.footer-header:hover {
	font-size: 1.3rem;
}

.socials {
	text-align: right;
}

.footer-hr {
	color: var(--secondary-grey);
}

.copyright {
	color: var(--secondary-grey);
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}