.sermon-page-active-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: center;
  padding: 3rem 0;
}

.sermon-page-active-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sermon-page-active-info-hr {
  color: var(--main-blue);
  margin: 1rem 0;
}

.sermon-page-active-title {
  font-size: 2.5rem;
}

.sermon-page-active-video-container {
  display: flex;
  justify-content: center;
}
