body {
  /* constant colours */
  --white: #fff;
  --black: #000;

  /* theme colours */
  --main-blue: #2a8dbe;
  --main-blue-sermons: #2a8dbe;
  --main-green: #7aaa6e;
  --main-black: #000;
  --main-white: #fff;
  --secondary-grey: #b1aeab;
  --secondary-blue: #207eac;
  --width-max: 70rem;
  --transition-delay: 1s;
  --font-colour: #000;
  --bg-colour: #fff;
  --sun-yellow: #e6e923;
  --moon-blue: #04046b;
}

body.dark {
  /* constant colours */
  --white: #e7e8e8;
  --black: #0e141b;

  /* theme colours */
  --main-blue: #095a82;
  --main-blue-sermons: #e7e8e8;
  --main-green: #0d3f00;
  --main-black: #e7e8e8;
  --main-white: #0e141b;
  --secondary-grey: #b1aeab;
  --secondary-blue: #207eac;
  --font-colour: #fff;
  --bg-colour: #0e141b;
  --sun-yellow: #e6e923;
  --moon-blue: #04046b;
}

html {
  scrollbar-width: 2em;
  scrollbar-color: var(--main-blue) var(--main-white);

  @media (max-width: 60em) {
    overflow-x: hidden;
  }
}
