@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}