.nav-item {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
	text-align: left;
	text-decoration: none;
	color: var(--main-white);
	transition: 0.3s;
	cursor: pointer;
}

.nav-item:hover {
	transform: translateY(-2.5%);
	color: var(--main-green);
}

.nav-item-text {
	margin: 20px;
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
	text-align: left;
	text-decoration: none;
	color: var(--main-white);
	transition: 0.3s;
	cursor: pointer;
}

.nav-item-text:hover {
	color: var(--main-green)
}