.accordion-container {
	display: flex;
	flex-direction: column;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.accordion-item {
	border-bottom: 1px solid var(--main-green);
}

.accordion-closed-container {
	padding: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	transition: 0.5s;
}

.accordion-closed-container:hover {
	background-color: var(--main-green);
}

.accordion-description {
	padding: 0 12px;
	text-align: left;
}